In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]},
                  index=['falcon', 'dog', 'spider', 'fish'])

In [3]:
df.head()

        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
dog            4          0                  2
spider         8          0                  1
fish           0          0                  8

In [5]:
# Extract 3 random elements from the Series df['num_legs']: Note that we use 
# random_state to ensure the reproducibility of the examples.

df['num_legs'].sample(n=3, random_state=1)

fish      0
spider    8
falcon    2
Name: num_legs, dtype: int64

In [7]:
# take a random sample with replacement: 
df.sample(frac=0.5, replace=True, random_state=1)

      num_legs  num_wings  num_specimen_seen
dog          4          0                  2
fish         0          0                  8

In [11]:
# An upsample sample of the DataFrame with replacement: Note that replace parameter has to be True for frac parameter > 1.
# frac determins the number of extra times to sample - so there will be 8 samples with 
# frac = 2 b/c there was 4 originally, but that doesn't mean that there will be 1 of each
df.sample(frac=2, replace=True, random_state=1)

        num_legs  num_wings  num_specimen_seen
dog            4          0                  2
fish           0          0                  8
falcon         2          2                 10
falcon         2          2                 10
fish           0          0                  8
dog            4          0                  2
fish           0          0                  8
dog            4          0                  2

In [12]:
# Using a DataFrame column as weights. Rows with larger value in the num_specimen_seen column are more likely to be sampled
df.sample(n=2, weights='num_specimen_seen', random_state=1)

        num_legs  num_wings  num_specimen_seen
falcon         2          2                 10
fish           0          0                  8

# more example dataframes below:

In [18]:
# create some more dataframes
pd.DataFrame({'Yes': [50, 21], 
              'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [19]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.